<div class="container">
  <h2>List of Cars</h2>
  <table mat-table [dataSource]="cars">
    <ng-container matColumnDef="id_car">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let car">{{ car.id_car }}</td>
    </ng-container>
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let car">{{ car.model }}</td>
    </ng-container>
    <ng-container matColumnDef="hp">
      <th mat-header-cell *matHeaderCellDef>HP</th>
      <td mat-cell *matCellDef="let car">{{ car.hp }}</td>
    </ng-container>
    <ng-container matColumnDef="marque">
      <th mat-header-cell *matHeaderCellDef>Marque</th>
      <td mat-cell *matCellDef="let car">{{ car.marque }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let car">
        <button mat-icon-button color="primary" (click)="editCar(car.id_car)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCar(car.id_car)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="showCar(car.id_car)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['id_car', 'model', 'hp', 'marque', 'actions']"></tr>
    <tr mat-row *matRowDef="let car; columns: ['id_car', 'model', 'hp', 'marque', 'actions']"></tr>
  </table>
</div>
